[MASTER]
init-hook='import sys; sys.path.append(".")'
disable=
    C0111, # missing-docstring
    C0103, # invalid-name
    C0303, # trailing-whitespace
    W0311, # bad-indentation
    W0603, # global-statement
    R0903, # too-few-public-methods
    R0913, # too-many-arguments
    W0621, # redefined-outer-name
    W0703, # broad-except

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=W0511,C0111
